<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  
  <Section Name="GatewayConfig">
    <Parameter Name="EmailServiceName" Value="EmailService.API" />
    <Parameter Name="SMSServiceName" Value="SMSService.API" />
    <Parameter Name="WeatherServiceName" Value="API.WeatherService" />
    <Parameter Name="CamundaEngineServiceName" Value="8080" />
    <Parameter Name="DataServiceName" Value="StoreService" />
    <Parameter Name="ReverseProxyPort" Value="19081" />
  </Section>
  
</Settings>
